<script>
    let handleSubmit = (event) => {
        // Ensure the form submits
        const form = event.target.closest("form");
        event.target.disabled = true;
        event.target.style.opacity = "0.7";
        form.submit();
    };
</script>

<% layout("layouts/boilerplate") %>
<body>
    <div style="z-index: 200; position: relative; color: #fff;">
        <h2 style="width: 100%; display: flex; justify-content: center; align-items: center;">Edit Post</h2>
    <form action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation edit-wrapper" novalidate method="post" enctype="multipart/form-data">
        <div>
            <label for="title" class="form-label">Title</label>
            <input class="form-control" name="listing[title]" type="text" value="<%= listing.title %>" required><br>
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="listing[description]" type="text" rows="3" required><%= listing.description %></textarea><br>
            <div class="invalid-feedback">Please enter a short description!</div>
        </div>
        <div>
            <label for="image" class="form-label">Upload New Images (Optional)</label>
            <input class="form-control" name="listing[images]" type="file" multiple>
            <br>
        </div>
        <div class="price-location">
            <div>
                <label for="price" class="form-label">Estimated Cost</label>
                <input class="form-control" name="listing[price]" value="<%= listing.price %>" required><br>
                <div class="invalid-feedback">Cost should be valid!</div>
            </div>
            <div>
                <label for="location" class="form-label">City</label>
                <input class="form-control" name="listing[location]" type="text" value="<%= listing.location %>" required>
                <div class="invalid-feedback">City should be valid!</div>
            </div>
        </div>
        <div>
            <label for="country" class="form-label">Country</label>
            <input class="form-control" name="listing[country]" type="text" value="<%= listing.country %>" required><br>
            <div class="invalid-feedback">Country name should be valid!</div>
        </div>
        <label for="floatingSelect">Select a category</label>
        <div class="form-floating">
            <select name="listing[category]" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option value="Natural Attractions" selected>Natural Attractions</option>
                <option value="Cultural Attractions">Cultural Attractions</option>
                <option value="Historical Attractions">Historical Attractions</option>
                <option value="Food & Drink">Food & Drink</option>
                <option value="Adventure & Outdoor Activities">Adventure & Outdoor Activities</option>
                <option value="College & Educational Events">College & Educational Events</option>
                <option value="Entertainment & Leisure">Entertainment & Leisure</option>
                <option value="Wellness & Healing">Wellness & Healing</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <br>
        <div class="submit-btn-wrapper">
            <button class="submit-button" style="background-color: red; color: #fff;" onclick="handleSubmit(event)">Submit</button>
        </div>

    </form>
    </div>
</body>